body {
    background-color: #000;

}

h1 {
	font-size: 13vw;
	font-family: 'Pathway Gothic One', sans-serif;
}

h2 {
	font-size: 3vw;
	font-family: 'Pathway Gothic One', sans-serif;
}

p {
	max-width: 70%;
	margin: 0 auto;
	font-family: 'Josefin Slab', serif;
}

.container {
	background-color: #000;
    height: 4000px;
 	max-width: 1000px; /* YOUR BG MAX SIZE */
 	background-size: 100%;
 	margin: 0 auto;
 	
}

.container-title {
	text-align: center;
	background-color: #fff;
	background-image: url("img/grid.png");
 	padding-top: 6%;
 	padding-bottom: 6%;
	color: black;
}

.container-background {
	text-align: center;
	background-color: #000;
 	padding-top: 6%;
 	padding-bottom: 10%;
 	color: white;
}

.container-blue {
	text-align: center;
	background-color: #527cb5;
 	padding-top: 6%;
 	padding-bottom: 10%;
 	color: white;
 	background-image: url("img/percival.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: right;
}
.container-yellow {
	text-align: center;
	background-color: #ffe958;
 	padding-top: 6%;
 	padding-bottom: 10%;
 	color: white;
 	background-image: url("img/merlin.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: left;
}
.container-green {
	text-align: center;
	background-color: #7dc281;
 	padding-top: 6%;
 	padding-bottom: 6%;
 	color: white;
 	background-image: url("img/lancelot.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: left;
}
.container-red {
	text-align: center;
	background-color: #d05559;
 	padding-top: 6%;
 	padding-bottom: 10%;
 	color: white;
 	background-image: url("img/galahad.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: right;
}

.container-faq {
	text-align: center;
	background-color: #242424;
 	padding-top: 6%;
 	padding-bottom: 6%;
 	color: white;
}
.container-sponsor {
	text-align: center;
	background-color: #1d1d1d;
 	padding-top: 6%;
 	padding-bottom: 6%;
 	color: white;
}

.videowrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	width: 80%;
	overflow:hidden;
	margin: 0 auto;
}
.videowrapper iframe {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.container-emblem {
	height: 0px;
	text-align: center;
	background-image: url("img/percival emblem combined.png");
}
.emblem {
	top:-100px;
}

.navbar{
	font-family: 'Pathway Gothic One', sans-serif;
	max-width: 1000px; /* YOUR BG MAX SIZE */
	margin: 0 auto;
	z-index: 999;
}

.hor_navbar{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}

.nav_list{
	float: left;
}

.nav_list a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_list a:hover {
    background-color: #111;
}

.section {
    position: relative;
}
.section:target {
    padding-top: 40px;
}

object, iframe {z-index: 1; position: relative; background: transparent}